<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="content">

    <div class="register-container">
        <div class="register-box">
            <h2>Registrarse</h2>

            <form th:action="@{/registro}" method="post" th:object="${form}">

                <!-- USUARIO -->
                <input type="text" th:field="*{usuario}" placeholder="Usuario"
                       th:classappend="${#fields.hasErrors('usuario')} ? 'is-invalid'">
                <div class="error" th:errors="*{usuario}"></div>

                <!-- PASSWORD -->
                <div class="password-container">
                    <input type="password" th:field="*{contrasena}" placeholder="Contraseña"
                           th:classappend="${#fields.hasErrors('contrasena')} ? 'is-invalid'">
                </div>
                <div class="error" th:errors="*{contrasena}"></div>

                <!-- GENERO -->
                <select th:field="*{genero}"
                        th:classappend="${#fields.hasErrors('genero')} ? 'is-invalid'">
                    <option value="">Seleccionar</option>
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMENINO">Femenino</option>
                    <option value="NO_BINARIO">No binario</option>
                    <option value="OTRO">Otro</option>
                </select>
                <div class="error" th:errors="*{genero}"></div>

                <button type="submit">Registrarse</button>

            </form>
        </div>
    </div>

</div>

</body>
</html>