<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<div class="register-container">
    <div class="register-box">
        <h2>Registrarse</h2>

        <form th:action="@{/registro}" method="post" th:object="${form}">

            <input type="text" th:field="*{usuario}" placeholder="Usuario" required>

            <!-- PASSWORD SIN OJO -->
            <div class="password-container">
                <input type="password" th:field="*{contrasena}" id="password" placeholder="Contraseña" required>
            </div>

            <select th:field="*{genero}">
                <option value="MASCULINO">Masculino</option>
                <option value="FEMENINO">Femenino</option>
                <option value="NO_BINARIO">No binario</option>
                <option value="OTRO">Otro</option>
            </select>

            <button type="submit">Registrarse</button>

        </form>
    </div>
</div>

</body>
</html>