<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="content">

    <div class="register-container">

        <div class="register-box">

            <h2>📝 Registrarse</h2>

<form th:action="@{/registro}" th:object="${form}" method="post">

    <input type="text" th:field="*{usuario}" placeholder="Usuario" required>

    <input type="password" th:field="*{contrasena}" placeholder="Contraseña" required>

    <select th:field="*{genero}">
        <option value="MASCULINO">MASCULINO</option>
        <option value="FEMENINO">FEMENINO</option>
        <option value="NO_BINARIO">NO_BINARIO</option>
        <option value="OTRO">OTRO</option>
    </select>

    <button type="submit">Crear Cuenta</button>

</form>

        </div>

    </div>

</div>

</body>
</html>