<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

<div layout:fragment="content">

    <div class="contenedor-productos">

        <div class="card">
            <div class="imagen press"></div>
            <h3>Press Banca</h3>
            <p>Precio: $150000</p>
            <p>Stock: 3</p>
        </div>

        <div class="card">
            <div class="imagen mancuernas"></div>
            <h3>Set de Mancuernas</h3>
            <p>Precio: $80000</p>
            <p>Stock: 10</p>
        </div>

    </div>

</div>

</body>
</html>