<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Usuario</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<h1>✏️ Editar Usuario</h1>

<div class="container">

<form th:object="${form}" th:action="@{/adm/users/save}" method="post">

    <label>Usuario</label>
    <input type="text" th:field="*{usuario}" placeholder="Ingrese usuario" required>

    <label>Contraseña</label>
    <input type="password" th:field="*{contrasena}" placeholder="Ingrese contraseña" required>

    <label>Género</label>
    <select th:field="*{genero}">
        <option value="MASCULINO">MASCULINO</option>
        <option value="FEMENINO">FEMENINO</option>
        <option value="NO_BINARIO">NO_BINARIO</option>
        <option value="OTRO">OTRO</option>
    </select>

    <button type="submit">Guardar</button>

</form>

    <br>

    <a href="/adm/users">
        <button class="volver">⬅ Volver</button>
    </a>

</div>

</body>
</html>