<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="navbar" class="navbar">

    <!-- IZQUIERDA -->
    <div class="nav-left">

        <div class="logo">
            <h2>🏋️ GymTech</h2>
        </div>

        <div class="links">
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/verProductos}">Productos</a>
            <a th:href="@{/registro}">Registro</a>
        </div>

    </div>

    <!-- DERECHA -->
    <div class="nav-right">

        <div class="dropdown">

            <button class="dropbtn" data-bs-toggle="collapse" data-bs-target="#navbarNav">>
                ⚙ Cuenta ▼
            </button>
			
            <div class="dropdown-content collapse" id="navbarNav">

                <a th:href="@{/adm/users}">
                    Admin
                </a>

                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="logout-item">
                        Logout
                    </button>
                </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>