<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="navbar" class="navbar">

    <!-- LOGO -->
    <div class="logo">
        <h2>🏋️ GymTech</h2>
    </div>

    <!-- LINKS -->
    <div class="nav-links">

        <a th:href="@{/}">
            Inicio
        </a>

        <a th:href="@{/login}">
            Login
        </a>

        <a th:href="@{/registro}">
            Registro
        </a>

        <!-- DROPDOWN -->
        <div class="dropdown">

            <button class="dropbtn">
                Sesión ▼
            </button>

            <div class="dropdown-content">

                <a th:href="@{/adm/users}">
                    Admin
                </a>

                <form th:action="@{/logout}" method="post">

                    <button type="submit" class="logout-item">
                        Logout
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>
</html>