<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="content">

    <div class="hero">

        <div>
            <h1>💪 GymTech</h1>
            <p>Potenciá tu entrenamiento con los mejores productos fitness</p>

            <div class="botones">
                <a th:href="@{/verProductos}">
                    <button class="principal">🏋️ Ver Productos</button>
                </a>

                <a th:href="@{/login}">
                    <button>🔐 Iniciar Sesión</button>
                </a>

                <a th:href="@{/registro}">
    				<button>📝 Registrarse</button>
				</a>
                
            </div>
        </div>

    </div>

</div>

</body>
</html>