<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
      
<body>

<div layout:fragment="content">

    <div class="hero">

        <div>
            <h1>💪 GymTech</h1>
            <p>Potenciá tu entrenamiento con los mejores productos fitness</p>

            <div class="botones">
                <a th:href="@{/verProductos}">
                    <button class="principal">🏋️ Ver Productos</button>
                </a>

                <div class="botones">
                    <a th:href="@{/login}">
                        <button>🔐 Iniciar Sesión</button>
                    </a>
                    
                </div>
                
                <div class="botones">
                    <a th:href="@{/registro}">
                        <button>📝 Registrarse</button>
                    </a>
                </div>

                <!-- ADMIN SOLO SI ES ADMIN -->
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin}">
                        <button>⚙️ Panel Admin</button>
                    </a>
                </div>

                
            </div>
        </div>

    </div>

</div>

</body>
</html>