<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="content">

    <h1>💪 Bienvenido a GymTech</h1>

    <p>Tu tienda de productos de gimnasio</p>

    <br>

    <a th:href="@{/login}">
        <button>🔐 Iniciar Sesión</button>
    </a>

    <br><br>

    <a th:href="@{/registro}">
        <button>📝 Registrarse</button>
    </a>

    <br><br>

    <a th:href="@{/productos}">
        <button>🏋️ Ver Productos</button>
    </a>

</div>

</body>
</html>