<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>GymTech</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>

<!-- NAVBAR -->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- CONTENIDO DINÁMICO -->
<div layout:fragment="content">
    <!-- acá se inyecta todo -->
</div>

</body>
</html>