<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="content">

    <div class="login-container">

        <div class="login-box">

            <h2>🔐 Iniciar Sesión</h2>

            <form th:action="@{/login}" method="post" th:object="${form}">

                <!-- USUARIO -->
                <input type="text" th:field="*{usuario}" placeholder="Usuario"
                       th:classappend="${#fields.hasErrors('usuario')} ? 'is-invalid'">

                <div class="error" th:if="${#fields.hasErrors('usuario')}"
                     th:errors="*{usuario}"></div>


                <!-- PASSWORD -->
                <input type="password" th:field="*{contrasena}" placeholder="Contraseña"
                       th:classappend="${#fields.hasErrors('contrasena')} ? 'is-invalid'">

                <div class="error" th:if="${#fields.hasErrors('contrasena')}"
                     th:errors="*{contrasena}"></div>


                <button type="submit">Ingresar</button>

            </form>

        </div>

    </div>

</div>

</body>
</html>