<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

<div layout:fragment="content">

    <h1>Login GymTech</h1>

    <form action="/login" method="post">
        <input type="text" name="usuario" placeholder="Usuario">
        <br><br>
        <input type="password" name="contrasena" placeholder="Contraseña">
        <br><br>
        <button type="submit">Ingresar</button>
    </form>

</div>

</body>
</html>